 QProgressBar {
     border: 1px solid #000;
     background-color: black;
     color: #248bad;
     font-weight: bold;
 }

QProgressBar::chunk {
    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 0.75,
                                       stop: 0 #41787d, stop: 0.5 #214548, stop: 1 #000 );
}
